:root {
    --sea-border: #011e36;
    --background: #222222;
    --sea-colour: #31a8ff;
    --hit: red;
    --miss: #454e57;
    --player-ship: aqua;
}

* {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    color: white;
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

body,
#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    gap: 20px;
}

#header {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    height: 50px;
    justify-content: end;
    justify-items: end;
}

a>img {
    width: 50px;
    height: 50px;
    transition: all 0.7s;
}

a>img:hover {
    transform: rotate(360deg);
    scale: 1.1;
}

#gameContainer>* {
    position: relative;
    top: -10px;
}

.boxP {
    animation: slide-right 1.5s ease-in-out;
}

.boxO {
    animation: slide-left 1.5s ease-in-out;
}

#legend {
    animation: slide-up 1.5s ease-in-out;
}

#header,
#turn {
    animation: slide-down 1.5s ease-in-out;
}

#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    gap: 10px;
}

.boxP {
    grid-column: 2;
}

.boxO {
    grid-column: 3;
}

#player,
#opponent,
.boxP,
.boxO {
    justify-self: center;
    align-self: center;
}

.boxP>p,
.boxO>p {
    position: relative;
    top: -20px;
}

#turn {
    display: relative;
    top: 20px;
}

#legend {
    height: 100px;
    display: flex;
    gap: 5vw;
    margin-top: -10px;
}

.legend-info {
    height: 60px;
    display: grid;
    grid-template-columns: 50px 100px;
    column-gap: 10px;
}

.legend-info>img {
    height: 50px;
    width: auto;
    background-color: red;
    border-radius: 4.5px;
}

#player,
#opponent {
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    background-color: var(--sea-border);
    position: relative;
    top: -30px;
}

#player>div,
#opponent>div {
    background-color: var(--sea-colour);
    transition: 0.2s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player>div:hover,
#opponent>div:hover {
    background-color: rgb(220, 221, 223);
    scale: 1.08;
}

#player>div:active,
#opponent>div:active {
    background-color: rgb(99, 116, 144);
    scale: 0.98;
}

#player>.player-ship.hit,
#opponent>.hit,
#player>.player-ship.hit:hover,
#opponent>.hit:hover {
    background-color: var(--hit);
}

#player>.miss:hover,
#opponent>.miss:hover,
#player>.miss,
#opponent>.miss {
    background-color: var(--miss);
}

#player>.player-ship {
    background-color: var(--player-ship);
}

#gameContainer.hidden {
    display: none;
}

#start-screen {
    width: 100vw;
    height: 100vh;
    display: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.title>h1 {
    margin: 0px;
    animation: slide-down 1.5s ease;
}

#main-title {
    font-size: 50px;
    position: relative;
    color: var(--sea-colour);
}

#header {
    display: relative;
    z-index: 2;
}

#start,
#options {
    width: 150px;
    height: 50px;
    background-color: var(--hit);
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    animation: slide-up 1.5s ease;
    transition:
        background-color 0.5s ease,
        transform 0.5s ease,
        color 0.5s ease;
}

.button-container>#options {
    width: 200px;
}

#start:hover,
#options:hover {
    transform: scale(0.98);
    background-color: var(--miss);
    color: var(--hit);
}

#start:active,
#options:active {
    transform: scale(0.9);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: normal;
    align-items: center;
}

#end-modal {
    animation: slide-down 1s ease;
    justify-self: center;
    align-self: center;
}

@media (max-width: 1024px) {
    #player,
    #opponent {
        max-width: 430px;
        max-height: 430px;
        min-width: 430px;
        min-height: 430px;
    }
}

@media (max-width: 768px) {
    #container {
        display: flex;
        flex-direction: column;
    }

    .boxO {
        animation: slide-up 1.5s ease;
    }

    .boxP {
        animation: slide-down 1.5s ease;
    }
}

@media (max-width: 450px) {
    #turn {
        margin-top: 25px;
        font-size: 20px;
    }

    #container {
        margin-top: 15px;
    }

    #player,
    #opponent {
        max-width: 350px;
        max-height: 350px;
        min-width: 350px;
        min-height: 350px;
    }

    #header>a>img {
        height: 25px;
        width: 25px;
    }
}

@media (max-width: 400px) {
    #player,
    #opponent {
        max-width: 300px;
        max-height: 300px;
        min-width: 300px;
        min-height: 300px;
    }

    .legend-info {
        height: 50px;
        gap: 5px;
    }

    .legend-info>img {
        height: 40px;
        width: auto;
        background-color: red;
        border-radius: 4.5px;
    }
}